<div class="intro-header" style="background: url({{prefix}}img/BackgroundPhoto.jpg) no-repeat center center; min-height: 500px;">
   <div class="container">
		<div class="row" style="padding-top: 100px;">
			<div class="col-lg-12">				
				<h1><a href="#"  ><img src="img/ConciergeIconWht.png"/><BR>Concierge Service</a></h1>
				
			</div>
        </div>
    </div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h4>Fill out our concierge form and we will find the perfect host available to host you on your travel dates</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-1">
			<div class="row" style="padding-top: 60px;">
				<h4 class="rotate">Experience </h4>
			</div>
		</div>
		<div class="col-lg-11">
			<div class="row" style="padding-top: 20px;">
				<div class="form-group">
					<div class="col-lg-5">
						<label for="destination_country" class="control-label pull-right">Which country are you visiting?*</label>
					</div>
					<div class="col-lg-7">
						<select id="destination_country" class="form-control input-sm" ng-model="trip['destination_country']">
							<option value="Indonesia">Indonesia</option>
							<option value="China">China</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row" style="padding-top: 20px;">
				<div class="form-group">
					<div class="col-lg-5">
						<label for="destination_city" class="control-label pull-right">Which city are you visiting?*</label>
					</div>
					<div class="col-lg-7">
						<select id="destination_city" class="form-control input-sm" ng-model="trip['destination_city']" >
							<option value="City1">City1</option>
							<option value="City2">City2</option>
							<option value="City3">City3</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row" style="padding-top: 20px;">
				<div class="form-group">					
					<div class="col-lg-5">
						<label for="destination_prefered_date" class="control-label pull-right">Date*</label>
					</div>
					<div class="col-lg-7">
						<!-- Add a date picker here --> 
						<div class='input-group' id='destination_prefered_date'>
		                    <input 
		                    	type='text' 
		                    	placeholder="mm/dd/yyyy" 
		                    	ng-model="trip['destination_prefered_date']" 
		                    	required 
		                    	class="form-control" 
		                    />
		                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
		                    </span>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="padding-top: 20px;">
				<div class="form-group">					
					<div class="col-lg-5">
						<div class="pull-right">
							<label for="destination_alternate_dates" class="control-label pull-right">Additional dates</label>
							<BR>
							<p class="help-block pull-right">Are you available on other dates?</p>
						</div>
					</div>
					<div class="col-lg-7">
						<input 
							type="text" 
							id="destination_alternate_dates" 
							placeholder="Please include additional dates" 
							ng-model="trip['destination_alternate_dates']"
							required 
							class="form-control"
						/>
					</div>
				</div>
			</div>
			<div class="row" style="padding-top: 20px;">
				<div class="form-group">
					<div class="col-lg-5">
						<div class="pull-right">
							<label for="guests_number" class="control-label pull-right">Number of guests*</label>
							<BR>
							<p class="help-block pull-right">Including yourself</p>
						</div>
					</div>
					<div class="col-lg-7">
						<select id="guests_number" class="form-control input-sm" ng-model="trip['guests_number']">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row" style="padding-top: 20px;">
				<div class="form-group">
					<div class="col-lg-5">
						<label for="pefered_time" class="control-label pull-right">Preferred meal time*</label>
					</div>
					<div class="col-lg-7">
						<div class='input-group date' id='pefered_time'>
							<label class="radio-inline">
								<input type="radio" name="pefered_time" ng-model="trip['pefered_time']" id="inlineRadio1" value="lunch"> Lunch
							</label>
							<label class="radio-inline">
								<input type="radio" name="pefered_time" ng-model="trip['pefered_time']" id="inlineRadio2" value="dinner"> Dinner
							</label>
							<label class="radio-inline">
								<input type="radio" name="pefered_time" ng-model="trip['pefered_time']" id="inlineRadio3" value=""> Either
							</label>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-1">
			<h4 class="rotate">Food </h4>
		</div>
		<div class="col-lg-11">
			<div class="row" style="padding-top: 20px;">
				<div class="form-group">
					<div class="col-lg-5">
						<label for="restrictions_radio" class="control-label pull-right">Allergies/Dietary restrictions*</label>
					</div>
					<div class="col-lg-7">
						<div class='input-group date' id='restrictions_radio'>
							<label class="radio-inline">
								<input type="radio" name="restrictions_radio" ng-model="trip['has_restriction']" id="inlineRadio1" value="1"> Yes
							</label>
							<label class="radio-inline">
								<input type="radio" name="restrictions_radio" ng-model="trip['has_restriction']" id="inlineRadio2" value="0"> No
							</label>
					    </div>
						
					</div>
				</div>
			</div>
			<div class="row" style="padding-top: 20px;" ng-show="trip['has_restriction'] > 0">
				<div class="form-group">					
					<div class="col-lg-5">
						<div class="pull-right">
							<label for="destination_alternate_dates" class="control-label pull-right">Allergies/Dietary restrictions*</label>
							<BR>
							<p class="help-block pull-right">If yes, list all restrictions</p>
						</div>
					</div>
					<div class="col-lg-7">
						<input 
							type="text" 
							id="destination_alternate_dates" 
							placeholder="E.g. Shellfish, lactose intolerance, vegetarian" 
							ng-model="trip['destination_alternate_dates']"
							required 
							class="form-control"
						/>
					</div>
				</div>
			</div>
			<div class="row" style="padding-top: 20px;">
				<div class="form-group">
					<div class="col-lg-5">
						<label for="spice" class="control-label pull-right">Spice preference*</label>
					</div>
					<div class="col-lg-7">
						<select id="spice" class="form-control input-sm" ng-model="trip['spice']">
							<option value="mild">Mild</option>
							<option value="medium">Medium</option>
							<option value="hot">Hot</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row" style="padding-top: 20px;">
				<div class="form-group">
					<div class="col-lg-5">
						<div class="pull-right">
							<label for="alcohol_radio" class="control-label pull-right">Alcohol</label>
							<BR>
							<p class="help-block pull-right">Interested in alcohol for an additional cost?</p>
						</div>
					</div>
					<div class="col-lg-7">
						<div class='input-group date' id='alcohol_radio'>
							<label class="radio-inline">
								<input type="radio" name="alcohol_radio" ng-model="trip['guests_number_drinking']" id="inlineRadio1" value="1"> Yes
							</label>
							<label class="radio-inline">
								<input type="radio" name="alcohol_radio" ng-model="trip['guests_number_drinking']" id="inlineRadio2" value="0"> No
							</label>
					    </div>
						
					</div>
				</div>
			</div>
			<div class="row" style="padding-top: 20px;" ng-show="trip['guests_number_drinking'] > 0">
				<div class="form-group">
					<div class="col-lg-5">
						<label for="guests_number" class="control-label pull-right">How many are drinking?*</label>
					</div>
					<div class="col-lg-7">
						<select id="guests_number" class="form-control input-sm" ng-model="trip['guests_number_drinking']">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12" align="center">
			<h4>Sign in to save your details and review and submit your reservation request.</h4>
			<p><a class="btn btn-lg btn-primary" role="button" ng-click="createTrip()" ng-class="{'disabled': creating}"><i class="fa fa-spinner fa-spin" ng-show="creating"></i> SUBMIT</a></p>
		</div>
	</div>
</div>
