<div class="container" style="padding-top: 100px;">
	<div class="row">
		<div class="col-lg-12">
			<table class="table table-striped">
				<tr>
				    <th>Created at</th>
				    <th>Destination country</th>
				    <th>Destination city</th>
				    <th>Preferred date</th>
				    <th>Number of guests</th>
				    <th>Actions</th>
			  	</tr>
			  	<tr ng-repeat="x in trips">
				    <td>{{x.created_at }}</td>
				    <td>{{x.destination_country }}</td>
				    <td>{{x.destination_city }}</td>
				    <td>{{x.destination_prefered_date }}</td>
				    <td>{{x.guests_number }}</td>
				    <td><a class="btn btn-primary" href="#"><i class="fa fa-info fa-inverse"></i></a> <a class="btn btn-primary" href="#"><i class="fa fa-reply fa-inverse"></i></a> <a class="btn btn-primary" href="#"><i class="fa fa-trash"></i></a></td>
			  	</tr>
			</table>
		</div>
	</div>
</div>
